/* 
    Document   : styles
    Created on : 08.12.2011, 13:31:41
    Author     : fabianschneider
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background:url(../images/wood.jpg);
    font-family:"Duru Sans",Arial;
    font-size:12px;
    letter-spacing: 1px;
    margin:0px;
    color:#FFF;
}
input[type=submit]{border:0px;}

#wrapper{
    padding:10px 0px;
}

#logo{
    margin: 0px auto 0px;
    padding-left:15px;
    width:140px;
    font-family: "Engagement";
    color:#000;
    opacity:0.5;
    font-size:120px;
    text-shadow: 0 3px 1px #EEE;
}
#logo.logo_game{
    position:fixed;
    bottom:30px;
    right:30px;
}
#profile{
    background:url("../images/green_background.jpg");
    width:100%;
    height:250px;
    overflow: auto;
    border-bottom: 1px solid #A1A1A1;
    display:none;
    box-shadow: 0px -15px 50px #111 inset;
}
#profile #profileContent{
    width:830px;
    padding: 15px;
    margin:0px auto;
    height:30px;
}
#profile #profileContent h2{
    font-family: "Engagement";
    font-size:65px;
    padding:0px 10px;
    margin:0px 0px 5px;
    line-height: 65px;
    color:#EEE;
    font-weight:normal;
}
#stats table{width:830px;background-color:rgba(0,0,0,0.5);color:#EEE;margin: 10px 0px 0px;}
#stats thead{font-weight:bold;font-size:13px;}
#stats thead tr .team{width:275px;}
#stats thead tr .middle{width:20px;}
#stats thead tr .points{width:100px;}

#stats tbody tr{height:23px;}
#stats tbody tr .win, #stats tbody tr .defeat{width:60px;vertical-align:central;text-align: center;}
#stats tbody tr .win{background:#006633;}
#stats tbody tr .defeat{background:#e62727;}

#profilebutton{
    position: absolute;
    margin:-1px 0px 0px 10px;
    background-color:rgba(0,0,0,0.5);
    color:#EEE;
    font-weight:bold;
    box-shadow: 2px 4px 6px #111;
    padding:5px 20px;
    cursor:pointer;
}
#profilebutton span{

}

#login{
    background-color:rgba(0,0,0,0.5);
    color:#AAA;
    padding:30px;
    margin:20px auto;
    width:250px;
    box-shadow: 2px 2px 2px #111;
}
#login input[type=text], #login input[type=password]{font-size:16px;font-weight:bold;color:#666;width:245px;}
#login input[type=submit]{font-size:14px;}
#login  label{display:block;margin:3px 0px;font-size:12px;}
#login a{color:#AAA;}

.register{margin:20px auto !important;}

#locale{
    background-color:rgba(0,0,0,0.6);
    padding:8px 0px;
    width:100%;
    position:fixed;
    z-index:10000;
    bottom:0px;
    box-shadow: 2px 2px 2px #333;
}
#locale a{
    color:#DDD;
    text-decoration: none;
    margin:0px 0px 0px 12px;
}

#game_overview{
    background-color:rgba(0,0,0,0.4);
    color:#EEE;
    width:810px;
    padding:10px;
    margin:10px auto;
    -moz-box-shadow:    0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow:         0 0 10px #000000;
}
#game_overview thead{font-weight:bold;height:30px;}
#game_overview td.game_row{width:480px;}
#game_overview td.player_row{width:60px;}
#game_overview tbody td{padding:10px 0px;}

#overview_title{
    margin: 0px auto;
    width:830px;
    text-align: center;
    font-family: "Engagement";
    color:#000;
    opacity:0.7;
    font-size:100px;
    text-shadow: 0 3px 1px #EEE;
    font-weight:normal;
}

#game{
    color:#DDD;
    background:url(../images/table_background.jpg);
    border-radius:35px;
    -moz-box-shadow:    0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow:         0 0 10px #000000;
    margin:0px auto;
    width:830px;
    padding:10px;
}

#table{
    width:360px;
    margin:10px 0px 20px;
    float:left;
}
#controlls{position:absolute;margin-left:870px;margin-bottom:-450px; width:150px;}

#place0{position:absolute;margin-left:-679px;margin-top:480px; width:445px;text-align: center;}
#place1{position:absolute;margin-left:-275px;margin-top:255px;width:235px;text-align: center;}
#place2{position:absolute;margin-left:-573px;margin-top:40px;width:235px;text-align: center;}
#place3{position:absolute;margin-left:-870px;margin-top:255px;width:235px;text-align: center;}


#chooseTrump{
    width:180px;
    font-family: "Engagement";
    color:#000;
    opacity:0.6;
    font-size:30px;
}
.moveTrump{margin-top:15px;}
#results_button{
    cursor:pointer;
    background:url(../images/results_wood.jpg);
    padding:5px;
    position:absolute;
    margin:10px 735px;
    z-index: 300000;
    border:1px solid #9E7221;
    -moz-box-shadow:     1px 5px 15px #111;
    -webkit-box-shadow:  1px 5px 15px #111;
    box-shadow:          1px 5px 15px #111; 
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg);
}
#results_button div{
    position:relative;
    font-family: "Vibur";
    font-size:23px;
    color:rgba(255,255,255,0.8);
    padding:12px;
    width:30px;
    height:55px;
    border:1px dashed #333;
    background:url(../images/blackboard.jpg);
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
#results_button div span{
    display:block;
    margin-top:0px;
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);	
}
#results{
    display:none;
    background:url(../images/results_wood.jpg);
    padding:20px;
    position:absolute;
    margin:75px 280px;
    z-index: 300000;
    border:1px solid #9E7221;
    -moz-box-shadow:     5px 10px 15px #111;
    -webkit-box-shadow:  5px 10px 15px #111;
    box-shadow:          5px 10px 15px #111;

}
#results div{
    position:relative;
    font-family: "Vibur";
    font-size:18px;
    color:rgba(255,255,255,0.8);
    padding:20px;
    width:200px;
    height:330px;
    border:1px dashed #333;
    background:url(../images/blackboard.jpg);
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
#results .result_header{
    border-bottom: 1px solid #AAA;
    padding-bottom:2px;
}
#results span{
    margin: 0px 25px 0px 0px;
    line-height: 30px;
    text-align: center;
}
#results div p{margin:0px;padding-top:4px;}
#results div .teamA{
    width:95px;
    border-right:1px solid #AAA;
}
#results div .teamB{
    padding-left: 12px;
    width:87px;
}

#trumpf{
    padding-top:55px;
    height:55px;
    opacity: 0.9;
    position: absolute;
    margin-top:430px;
    margin-left:685px;
    font-family: "Engagement";
    color:#121212;
    font-size:45px;
}
#trumpf.herz{background: url(../images/heart.png) no-repeat center top;}
#trumpf.ecke{background: url(../images/ecke.png) no-repeat center top;}
#trumpf.kreuz{background: url(../images/cross.png) no-repeat center top;}
#trumpf.schaufel{background: url(../images/schaufel.png) no-repeat center top;}
#trumpf span{text-decoration: underline;margin-left:5px;}

#cardcontainers{padding:0px;margin:0px;clear:both;}
#cardcontainers h4{margin:0px;color:#CCC;font-size:13px;}
#cardcontainers li{
    list-style:none;
    padding:5px;
}
#cardcontainers li .card{
    position:relative;
}
#cardcontainers li .position1{z-index:1000}
#cardcontainers li .position2{z-index:1001}
#cardcontainers li .position3{z-index:1002}
#cardcontainers li .position4{z-index:10000}
#cardcontainers li .card{margin:0px auto; }

#table_left{margin-top:-70px;width:215px !important;}
#table_right{margin-top:-107px;width:490px !important;}
#table_bottom{margin-top:-70px;}

#infos{    position:absolute;}
#turn{


}
#turn .button{
    font-family: "Lucida Grande";
    font-size:11px;
    padding:5px 8px;
}
#infos ul{padding:0px 10px;width:215px;}
.message.button{
    font-size:11px;
    width:215px;
    line-height: 16px;
}
.message li{list-style:none;padding: 5px 0px;}

#totalPoints{position: fixed;bottom:6px;left:33%;z-index: 20000;font-size:11px;}
#totalPoints span{font-weight:bold;font-size:14px;margin:0px 7px;}
#leave{position:fixed;bottom:5px;right:5px;z-index: 10001;}

.hiddenButton{display: none;}

.player{
    height:140px;
    width:235px;
    background-color:rgba(0,0,0,0.2);

    -moz-box-shadow:    0 0 10px #333;
    -webkit-box-shadow: 0 0 10px #333;
    box-shadow:         0 0 10px #333;
}
.player ul{background:#000;}


#player1{margin:0px auto;clear:both;width:445px;}
#player1 .card{margin-right:-50px;}
#player1 ul{width:445px;}
#player2{margin:65px 0px 0px 0px;}
#player3{margin:0px auto;}
#player4{margin:65px 0px 0px 0px;}


#username_1{position:absolute;margin-left:-210px;margin-top:2px; width:200px;}
#username_1 div{float:right;}

#username_2{margin-top:145px;position:absolute;width:235px;}
#username_3{margin:115px 0px 0px 250px;position:absolute;text-align: right;}
#username_4{margin-top:-35px;position:absolute;}

.card{
    -moz-box-shadow:    0 0 10px #333;
    -webkit-box-shadow: 0 0 10px #333;
    box-shadow:         0 0 10px #333;
    background:url(../images/cards.png) no-repeat;
    background-position:1000px 1000px;
    height: 130px;
    width:86px;
    padding:5px;
}

.opponent ul{width:210px;}
.opponent .card{margin-right:-80px;cursor:auto;}
.opponent .card:hover{margin-top:0px;}



.card.empty{border: 2px dashed #333;}
.card.coverd{
    background:url(../images/back.gif) !important;
    width:73px;
    height:114px;
    border:7px solid #DDD;
}
.cards{margin:0px 0px 0px -40px; color: red !important;}
.cards li{
    position: relative;
    cursor:pointer;
    list-style:none;
}
.cards li:hover{
    margin-top:-20px;
}

/* ----- Cards ----- */
.rotate{
    background:url(../images/cards_rotate.png) no-repeat !important;
    background-position:1000px 1000px !important;
    height: 85px !important;
    width:128px !important;
}
.rotate.coverd{
    background:url(../images/back.gif) !important;
    width:114px !important;
    height:73px !important;
    border:7px solid #DDD;
}

.kreuz_koenig{background-position:0px 0px !important;}
.kreuz_dame{background-position:0px -150px !important;}
.kreuz_bube{background-position:0px -300px !important;}
.kreuz_ass{background-position:0px -450px !important;}
.kreuz_zehn{background-position:0px -600px !important;}
.kreuz_neun{background-position:0px -750px !important;}
.kreuz_acht{background-position:0px -900px !important;}
.kreuz_sieben{background-position:0px -1050px !important;}
.kreuz_sechs{background-position:0px -1202px !important;}

.ecke_koenig{background-position:-102px 0px !important;}
.ecke_dame{background-position:-102px -150px !important;}
.ecke_bube{background-position:-102px -300px !important;}
.ecke_ass{background-position:-102px -450px !important;}
.ecke_zehn{background-position:-102px -600px !important;}
.ecke_neun{background-position:-102px -750px !important;}
.ecke_acht{background-position:-102px -900px !important;}
.ecke_sieben{background-position:-102px -1050px !important;}
.ecke_sechs{background-position:-102px -1202px !important;}

.herz_koenig{background-position:-204px 0px !important;}
.herz_dame{background-position:-204px -150px !important;}
.herz_bube{background-position:-204px -300px !important;}
.herz_ass{background-position:-204px -450px !important;}
.herz_zehn{background-position:-204px -600px !important;}
.herz_neun{background-position:-204px -750px !important;}
.herz_acht{background-position:-204px -900px !important;}
.herz_sieben{background-position:-204px -1050px !important;}
.herz_sechs{background-position:-204px -1202px !important;}

.schaufel_koenig{background-position:-306px 0px !important;}
.schaufel_dame{background-position:-306px -150px !important;}
.schaufel_bube{background-position:-306px -300px !important;}
.schaufel_ass{background-position:-306px -450px !important;}
.schaufel_zehn{background-position:-306px -600px !important;}
.schaufel_neun{background-position:-306px -750px !important;}
.schaufel_acht{background-position:-306px -900px !important;}
.schaufel_sieben{background-position:-306px -1050px !important;}
.schaufel_sechs{background-position:-306px -1202px !important;}

.rotate.kreuz_koenig{background-position:0px -306px !important;}
.rotate.kreuz_dame{background-position:-150px -306px !important;}
.rotate.kreuz_bube{background-position:-300px -306px !important;}
.rotate.kreuz_ass{background-position:-450px -306px !important;}
.rotate.kreuz_zehn{background-position:-600px -306px !important;}
.rotate.kreuz_neun{background-position:-750px -306px !important;}
.rotate.kreuz_acht{background-position:-900px -306px !important;}
.rotate.kreuz_sieben{background-position:-1050px -306px !important;}
.rotate.kreuz_sechs{background-position:-1202px -306px !important;}

.rotate.ecke_koenig{background-position:0px -204px !important;}
.rotate.ecke_dame{background-position:-150px -204px !important;}
.rotate.ecke_bube{background-position:-300px -204px !important;}
.rotate.ecke_ass{background-position:-450px -204px !important;}
.rotate.ecke_zehn{background-position:-600px -204px !important;}
.rotate.ecke_neun{background-position:-750px -204px !important;}
.rotate.ecke_acht{background-position:-900px -204px !important;}
.rotate.ecke_sieben{background-position:-1050px -204px !important;}
.rotate.ecke_sechs{background-position:-1202px -204px !important;}

.rotate.herz_koenig{background-position:0px -102px !important;}
.rotate.herz_dame{background-position:-150px -102px !important;}
.rotate.herz_bube{background-position:-300px -102px !important;}
.rotate.herz_ass{background-position:-450px -102px !important;}
.rotate.herz_zehn{background-position:-600px -102px !important;}
.rotate.herz_neun{background-position:-750px -102px !important;}
.rotate.herz_acht{background-position:-900px -102px !important;}
.rotate.herz_sieben{background-position:-1050px -102px !important;}
.rotate.herz_sechs{background-position:-1202px -102px !important;}

.rotate.schaufel_koenig{background-position:0px 0px !important;}
.rotate.schaufel_dame{background-position:-150px 0px !important;}
.rotate.schaufel_bube{background-position:-300px 0px !important;}
.rotate.schaufel_ass{background-position:-450px 0px !important;}
.rotate.schaufel_zehn{background-position:-600px 0px !important;}
.rotate.schaufel_neun{background-position:-750px 0px !important;}
.rotate.schaufel_acht{background-position:-900px 0px !important;}
.rotate.schaufel_sieben{background-position:-1050px 0px !important;}
.rotate.schaufel_sechs{background-position:-1202px 0px !important;}

.button, .button:visited {
    background: #222 url(overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer
}


.small.button, .small.button:visited{ font-size: 11px; padding:3px 5px;}
.button, .button:visited,
.medium.button, .medium.button:visited{ 
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.large.button, .large.button:visited{ 
    font-size: 14px;
    padding: 8px 14px 9px; 
}
.super.button, .super.button:visited {
    font-size: 34px;
    padding: 8px 14px 9px; 
}
.nolink.button{cursor:default;}

.pink.button, .magenta.button:visited{ background-color: #e22092; }
.pink.button:hover{ background-color: #c81e82; }
.green.button, .green.button:visited{ background-color: #006633; }
.green.button:hover{ background-color: #008A45; }
.red.button, .red.button:visited{ background-color: #e62727; }
.red.button:hover{ background-color: #cf2525; }
.orange.button, .orange.button:visited{ background-color: #ff5c00; }
.orange.button:hover{ background-color: #d45500; }
.blue.button, .blue.button:visited{ background-color: #2981e4; }
.blue.button:hover{ background-color: #2575cf; }
.yellow.button, .yellow.button:visited{ background-color: #ffb515; }
.yellow.button:hover{ background-color: #fc9200; }


.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.radius{
    border-radius:8px;
}