<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
    </h:head>
    <h:body>
        <ui:composition>            
            <h2 id="overview_title">#{text.overview}</h2>
            <div id="game_overview" class="radius">
                <h:commandButton id="newGameBtn" action="#{gameBean.newGame}" value="#{text.gameNewButton}" class="button green"/>
                <h:dataTable id="gameoverview" value="#{gameBean.gameOverview}" var="game">
                    <h:column>
                        <f:facet name="header">#{text.gameGame}</f:facet>
                        <h:outputText value="#{game.gameID}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">#{text.gamePlayers}</f:facet>
                        <h:outputText value="#{game.playerCount} / #{game.maxPlayerCount}"/>
                    </h:column>
                    <h:column>
                        <h:commandLink id="joinBtn" action="game" actionListener="#{gameBean.join}" title="#{game.gameID}" value="#{text.gameJoinButton}" class="button small green" />
                    </h:column>
                </h:dataTable>
            </div>
        </ui:composition>
    </h:body>
</html>
