<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
    <h:head>
    </h:head>
    <h:body>
        <ui:composition xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:t="http://myfaces.apache.org/tomahawk" xmlns:fn="http://java.sun.com/jsp/jstl/functions">
            <h:outputScript name="jsf.js" library="javax.faces" target="head"/>
            <h:outputScript name="jassPolling.js" library="script" target="head"/>

            <div id="logo" class="logo_game">
                Jass
            </div>
            <div id="game">
                <div id="controlls">
                    <t:div id="gamecontrols">
                        <h:commandButton id="startBtn" action="#{gameBean.start}" value="#{text.gameStartButton}" rendered="#{not gameBean.started and gameBean.gameAdmin}" class="button green">
                            <f:ajax event="action" render="@form" execute="@this"/>
                        </h:commandButton>
                        <f:ajax event="click" render="@form" execute="@this" listener="#{gameBean.trumpfClickListener}">
                            <div id="chooseTrump">
                                <t:div rendered="#{gameBean.canSetTrumpf}">#{text.chooseTrump}</t:div>
                            </div>
                            <p><h:commandLink id="HERZ" value="HERZ" rendered="#{gameBean.canSetTrumpf}" class="button small red"/></p>
                            <p><h:commandLink id="ECKE" value="ECKE" rendered="#{gameBean.canSetTrumpf}" class="button small red"/></p>
                            <p><h:commandLink id="SCHAUFEL" value="SCHAUFEL" rendered="#{gameBean.canSetTrumpf}" class="button small"/></p>
                            <p><h:commandLink id="KREUZ" value="KREUZ" rendered="#{gameBean.canSetTrumpf}" class="button small"/></p>
                        </f:ajax>
                        <h:commandButton id="moveTrumpBtn" action="#{gameBean.moveTrumpf()}" value="#{text.gameMoveTrumpButton}" rendered="#{gameBean.canSetTrumpf and not gameBean.trumpfMoved}" class="button green moveTrump">
                            <f:ajax event="action" render="@form" execute="@this"/>
                        </h:commandButton>
                        <f:ajax event="click" render="@form" execute="@this" listener="#{gameBean.placeClickListener}">
                            <div id="place0">
                                <h:commandLink id="place_0" class="button blue" value="Enter" rendered="#{not gameBean.hasPlace}"/>
                            </div>
                            <div id="place1">
                                <h:commandLink id="place_1" class="button blue" value="Enter" rendered="#{not gameBean.hasPlace}"/>
                            </div>
                            <div id="place2">
                                <h:commandLink id="place_2" class="button blue" value="Enter" rendered="#{not gameBean.hasPlace}"/>
                            </div>
                            <div id="place3">
                                <h:commandLink id="place_3" class="button blue" value="Enter" rendered="#{not gameBean.hasPlace}"/>
                            </div>
                        </f:ajax>
                    </t:div>
                </div>
                <div id="infos">
                    <div id="turn">
                        <t:div id="nextTurn">
                            <t:div id="turn" styleClass="button small nolink" rendered="#{not gameBean.hasWinner and gameBean.started}">#{gameBean.currentUsername}#{text.gameTurn}</t:div>     
                        </t:div>
                    </div>
                    <t:div id="trump">
                        <p id="trumpf" class="radius #{fn:toLowerCase(gameBean.trumpf)}">#{text.gameTrumpf}</p>
                    </t:div>
                    <t:div id="finishMessage">
                        <h:outputText value="#{gameBean.winnerMessage}" class="button message  nolink" rendered="#{gameBean.hasWinner}"/>
                    </t:div>
                    <h:messages id="globalMessage" class="button message red nolink" globalOnly="true"/>

                </div>
                <div id="results_button" class="radius">
                    <div class="radius">
                        <span>
                            #{text.points}
                        </span>
                    </div>
                </div>
                <t:div id="results">
                    <div id="results" class="radius">
                        <div class="radius">
                            <p class="left teamA result_header">#{text.gameTeam} A</p>
                            <p class="left teamB result_header">#{text.gameTeam} B</p>
                            <c:forEach var="points" items="#{gameBean.teamPoints}">
                                <p class="left teamA">#{points[0]} #{text.points}</p>
                                <p class="left teamB">#{points[1]} #{text.points}</p>
                            </c:forEach>
                        </div>
                    </div>
                </t:div>
                <t:div id="gametable">
                    <div id="player3" class="player opponent">
                        <t:div rendered="#{gameBean.players[2].username != null}">
                            <div class="username" id="username_3">
                                <div class="button nolink">
                                    #{gameBean.players[2].username}
                                </div>
                            </div>
                        </t:div>
                        <ul class="cards">
                            <c:forEach var="card" items="#{gameBean.players[2].handCards}">
                                <li class="card left radius coverd"></li>
                            </c:forEach>
                        </ul>
                    </div>
                    <div id="player4" class="player opponent left">
                        <t:div rendered="#{gameBean.players[3].username != null}">
                            <div class="username" id="username_4">
                                <div class="button nolink">
                                    #{gameBean.players[3].username}
                                </div>
                            </div>
                        </t:div>
                        <ul class="cards">
                            <c:forEach var="card" items="#{gameBean.players[3].handCards}">
                                <li class="card left radius coverd"></li>
                            </c:forEach>
                        </ul>
                    </div>

                    <div id="table">
                        <ul id="cardcontainers">
                            <li id="table_top">
                                <div class="card radius position1 #{fn:toLowerCase(gameBean.table[2].color)}_#{fn:toLowerCase(gameBean.table[2].rank)}"></div>
                            </li>
                            <li id="table_left">
                                <div class="card radius rotate position2 #{fn:toLowerCase(gameBean.table[3].color)}_#{fn:toLowerCase(gameBean.table[3].rank)}"></div>
                            </li>
                            <li id="table_right">
                                <div class="card radius rotate position4 #{fn:toLowerCase(gameBean.table[1].color)}_#{fn:toLowerCase(gameBean.table[1].rank)}"></div>
                            </li>
                            <li id="table_bottom">
                                <div class="card radius position3 #{fn:toLowerCase(gameBean.table[0].color)}_#{fn:toLowerCase(gameBean.table[0].rank)}"></div>
                            </li>
                        </ul>
                    </div>
                    <div id="player2" class="player opponent left">
                        <t:div rendered="#{gameBean.players[1].username != null}">
                            <div class="username" id="username_2">
                                <div class="button nolink">
                                    #{gameBean.players[1].username}
                                </div>
                            </div>
                        </t:div>
                        <ul class="cards">
                            <c:forEach var="card" items="#{gameBean.players[1].handCards}">
                                <li class="card left radius coverd"></li>
                            </c:forEach>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div id="player1" class="player">
                        <div class="username" id="username_1">
                            <div class="button nolink">
                                #{gameBean.players[0].username}
                            </div>
                        </div>
                        <ul class="cards">
                            <c:forEach var="card" items="#{gameBean.players[0].handCards}">
                                <h:commandLink id="#{card.color}_#{card.rank}">
                                    <li class="card left radius #{fn:toLowerCase(card.color)}_#{fn:toLowerCase(card.rank)}">
                                       <!-- #{card.color}_#{card.rank} -->
                                        <f:ajax event="click" render="@form" execute="@this" listener="#{gameBean.cardClickListener}"/>
                                    </li>
                                </h:commandLink>
                            </c:forEach>
                        </ul>
                    </div>
                    <t:div rendered="#{gameBean.hasWinner}">
                        <script type="text/javascript">
                            stopAjaxPoll();
                        </script>
                    </t:div>
                </t:div>
            </div>
            <t:div id="teamPoints">
                <div id="totalPoints">
                    (#{gameBean.players[0].username} &amp; #{gameBean.players[2].username})
                    <span>#{gameBean.totalTeamPoints[0]} #{text.points}</span>
                    :
                    <span>#{gameBean.totalTeamPoints[1]} #{text.points}</span>
                    (#{gameBean.players[1].username} &amp; #{gameBean.players[3].username}) 
                </div>
            </t:div>
            <div id="leave">
                <h:commandButton id="leaveBtn" action="#{gameBean.leave}" value="#{text.gameLeaveButton}" class="button red small"/>
            </div>
        </ui:composition>
    </h:body>
</html>