<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:t="http://myfaces.apache.org/tomahawk">
    <h:head>
    </h:head>
    <h:body>
        <ui:composition template="template.xhtml">
            <ui:define name="content">
                <t:div rendered="#{empty gameBean.game}">
                    <ui:include src="gameoverview.xhtml"/>
                </t:div>
                <t:div rendered="#{not empty gameBean.game}">
                    <ui:include src="gameTable.xhtml"/>
                    <script type="text/javascript">
                        startAjaxPoll();
                    </script>
                </t:div>
                <t:div rendered="#{empty gameBean.game or gameBean.hasWinner}">
                    <script type="text/javascript">
                        stopAjaxPoll();
                    </script>
                </t:div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>