<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>
        <ui:composition template="template.xhtml">
            <ui:define name="content">
                <div id="logo">
                    Jass
                </div>
                <div id="login" class="radius">
                    <p>
                        <h:messages globalOnly="true" errorClass="error_global"/>
                        <h:outputLabel for="username">#{text.mainUsername}</h:outputLabel>
                        <h:inputText id="username" label="#{text.mainUsername}" value="#{mainBean.username}" required="true" />
                        <h:message for="username" errorClass="error_message"/>
                    </p>
                    <p>
                        <h:outputLabel for="password">#{text.mainPassword}</h:outputLabel>
                        <h:inputSecret id="password" label="#{text.mainPassword}" value="#{mainBean.password}" required="true" />
                        <h:message for="password" errorClass="error_message"/>
                    </p>
                    <h:link id="registerLnk" outcome="register" value="#{text.mainRegisterLink}"/>
                    <h:commandButton id="submitBtn" action="#{mainBean.login}" value="#{text.mainLoginButton}" styleClass="button green right"/>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>