<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>
        <ui:composition template="template.xhtml">
            <ui:define name="content">
                <div id="login" class="radius register">
                    <p>
                        <h:outputLabel for="name">#{text.mainName}</h:outputLabel><br/>
                        <h:inputText id="name" label="#{text.mainName}" value="#{mainBean.name}" required="true" />
                        <h:message for="name" errorClass="error_message"/>
                    </p>
                    <p>
                        <h:outputLabel for="username">#{text.mainUsername}</h:outputLabel><br/>
                        <h:inputText id="username" label="#{text.mainUsername}" value="#{mainBean.username}" required="true" />
                        <h:message for="username" errorClass="error_message"/>
                    </p>
                    <p>
                        <h:outputLabel for="password">#{text.mainPassword}</h:outputLabel><br/>
                        <h:inputSecret id="password" label="#{text.mainPassword}" value="#{mainBean.password}" required="true" />
                        <h:message for="password" errorClass="error_message"/>
                    </p>
                    <p>
                        <h:outputLabel for="passwordRepeat">#{text.mainPasswordRepeat}</h:outputLabel><br/>
                        <h:inputSecret id="passwordRepeat" label="#{text.mainPasswordRepeat}" value="#{mainBean.passwordRepeat}" required="true" />
                        <h:message for="passwordRepeat" errorClass="error_message"/>
                    </p>
                    <h:link id="registerLnk" outcome="login" value="#{text.mainLoginLink}"/>
                    <h:commandButton id="submitBtn" class="button green right" action="#{mainBean.register}" value="#{text.mainRegisterButton}" styleClass="right"/>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>