<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <f:view contentType="text/html" locale="#{mainBean.locale}"/>
    <h:head>
        <title>#{text.mainTitle}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="script/jquery-1.7.1.min.js" />
        <script type="text/javascript" src="script/jass.js" />
        <link rel="stylesheet" type="text/css" media="all" href="css/styles.css" />
        <link href='http://fonts.googleapis.com/css?family=Engagement|Vibur|Duru+Sans' rel='stylesheet' type='text/css'/>
    </h:head>
    <h:body>
        <t:div rendered="#{mainBean.hasUser}">
            <div id="profile">
                <div id="profileContent">
                    <h2>
                        #{mainBean.user.username}
                    </h2>
                    <div id="stats">
                        <table>
                            <thead>
                                <tr>
                                    <td class="team">#{text.yourTeam}</td>
                                    <td class="points"></td>
                                    <td class="middle"></td>
                                    <td class="team">#{text.opponentTeam}</td>
                                    <td class="points"></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <c:forEach var="game" items="#{mainBean.gameHistory}">
                                    <tr>
                                        <td>#{game.teams[0].teamPlayers}</td>
                                        <td align="right">#{game.teams[0].teamPoints} #{text.points}</td>
                                        <td></td>
                                        <td>#{game.teams[1].teamPlayers}</td>
                                        <td align="right">#{game.teams[1].teamPoints} #{text.points}</td>
                                        <c:if test="#{game.hasWon}">
                                            <td class="win">
                                                #{text.win}
                                            </td>
                                        </c:if>
                                        <c:if test="#{not game.hasWon}">
                                            <td class="defeat">
                                                #{text.defeat}
                                            </td>
                                        </c:if>
                                    </tr>
                                </c:forEach>       
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </t:div>
        <t:div rendered="#{mainBean.hasUser}">
            <a id="profilebutton">
                <span>#{text.gameProfile} &amp; Stats</span>
            </a>
        </t:div>
        <h:form id="contentForm">

            <div id="wrapper">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </h:form>
        <div id="locale">
            <h:form>
                <h:commandLink id="fr" value="#{text.french}" >
                    <f:actionListener type="ch.bfh.jass.listener.LanguageChangedActionEvent" />
                </h:commandLink>&nbsp;
                <h:commandLink id="de" value="#{text.german}" >
                    <f:actionListener type="ch.bfh.jass.listener.LanguageChangedActionEvent" />
                </h:commandLink>&nbsp;
                <h:commandLink id="en" value="#{text.english}" >
                    <f:actionListener type="ch.bfh.jass.listener.LanguageChangedActionEvent" />
                </h:commandLink>
            </h:form>
        </div>
    </h:body>
</html>